* {
  margin: 0; }

.top-menu {
  height: 30px;
  background: #f6f6f6; }

.top-menu a,
.top-menu select,
.top-menu span {
  color: #7e7e7e; }

.top-menu select {
  padding-right: 10px;
  background: #f6f6f6;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../img/select-arrow.png) no-repeat 96% 50%; }

.top-menu .left,
.top-menu .right {
  margin: 5px 0; }

.top-menu .left a {
  margin: 0 20px; }

.top-menu .right select,
span {
  margin-left: 20px; }

.header {
  margin: 15px 0; }

.header .left {
  margin-top: 23px; }

.header .left a {
  margin-left: 20px;
  font-size: 44px;
  color: #444444;
  font-weight: bold;
  background: url(../img/logo.png) no-repeat 0%; }

.header .left span {
  margin-left: 60px; }

.header .find {
  margin-bottom: 25px;
  margin-right: 0px;
  text-align: right; }

.header .right a {
  margin-left: 50px;
  color: #565656; }

.slider-check-your {
  background: #cccccc;
  height: 1070px;
  position: relative;
  text-align: right; }

.wrap-controls {
  position: absolute;
  top: 50%;
  display: flex;
  position: relative; }

.control-right {
  position: absolute;
  left: 96%; }

.control-left,
.control-right {
  width: 50px;
  height: 50px;
  border: solid 2px white;
  border-radius: 50px; }

.arrow-left,
.arrow-right {
  width: 10px;
  height: 10px;
  border: solid 2px white;
  margin: 20px auto;
  transform: rotate(45deg); }

.arrow-right {
  border-left: none;
  border-bottom: none; }

.arrow-left {
  border-right: none;
  border-top: none; }

.text {
  margin-right: 100px;
  margin-top: 25%; }

.text-check-your {
  font-size: 30px;
  color: #555555; }

.text-autumn-style {
  font-size: 100px;
  color: white; }

.text-all-trends {
  font-size: 35px;
  color: #4c4c4c; }

.text-read-it a {
  font-size: 14px;
  color: #333333; }

.round {
  display: flex;
  justify-content: center;
  margin-top: 20%; }

.round1, .round2 {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border: solid 2px white;
  border-radius: 50px; }

.round1 {
  background: white; }

a {
  text-decoration: none; }

.flex-space-between {
  display: flex;
  justify-content: space-between; }

.width-site {
  width: 1170px;
  margin: 0 auto; }
