
.header{
    margin: 15px 0;
}

.header .left{
    margin-top: 23px; 
}

.header .left a {
    margin-left: 20px;     
    font-size: 44px;    
    color: rgb(68, 68, 68);
    font-weight: bold;
    background: url(../img/logo.png) no-repeat 0%;
}
.header .left span {
    margin-left: 60px; 
}

.header .find {
    margin-bottom: 25px;
    margin-right: 0px;
    text-align: right;
}

.header .right a {
    margin-left: 50px;
    color: rgb(86, 86, 86);
}