@import 'variables';
@import 'top-menu';
@import 'header';
@import 'slider-check-your';
@import 'advertising';

a {
    text-decoration: none;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.width-site {
    width: $width1170;
    margin: 0 auto;
}

